<div class="row">
  <div class="col-md-6 col-md-offset-3">

<h1 class="center">Sign Up</h1>

<%= render "layouts/flash" %>

<%= bootstrap_form_for :user do |f| %>
  <%= f.text_field :name, placeholder: "Enter your name"%>
  <%= f.text_field :email, placeholder: "Enter a valid E-mail"%>
   <%= f.text_field :password, placeholder: "Choose a Password", type: "password"%>
  <%= f.submit "Create an Account", class: "btn btn-info" %>

<% end %>
